<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anylogic.ssystem.bms.com.mapper.ComGradeMapper">

    <resultMap id="selectGradeListMap" type="com.anylogic.ssystem.bms.com.model.SelectGradeListResVO">
        <id column="grade" property="grade" />                        <!-- FAQ아이디 -->
        <result column="gradename" property="gradename" />            <!-- 제목 -->
        <result column="jobtype" property="jobtype" />                <!-- 내용 -->
        <result column="jobgubun" property="jobgubun" />              <!-- 게시시작일 -->
        <result column="inid" property="inid" />                      <!-- 등록자아이디 -->
        <result column="indt" property="indt" />                      <!-- 등록일시 -->
        <result column="upid" property="upid" />                      <!-- 수정자아이디 -->
        <result column="updt" property="updt" />                      <!-- 수정일시 -->
    </resultMap>

    <resultMap id="getGradeDetailMap" type="com.anylogic.ssystem.bms.com.model.GetGradeDetailResVO">
        <id column="grade" property="grade" />                        <!-- FAQ아이디 -->
        <result column="gradename" property="gradename" />            <!-- 제목 -->
        <result column="jobtype" property="jobtype" />                <!-- 내용 -->
        <result column="jobgubun" property="jobgubun" />              <!-- 게시시작일 -->
        <result column="inid" property="inid" />                      <!-- 등록자아이디 -->
        <result column="indt" property="indt" />                      <!-- 등록일시 -->
        <result column="upid" property="upid" />                      <!-- 수정자아이디 -->
        <result column="updt" property="updt" />                      <!-- 수정일시 -->
    </resultMap>


    <!-- 조직관리 > 직위/직급관리 > 직급관리 목록 조회 -->
    <select id="selectGradeList" parameterType="com.anylogic.ssystem.bms.com.model.SelectGradeListReqVO" resultMap="selectGradeListMap">
        SELECT
            grade as "grade"
            , gradename as "gradename"
            , jobtype as "jobtype"
            , jobgubun as "jobgubun"
            , inid as "inid"
            , indt as "indt"
            , upid as "upid"
            , updt as "updt"
        FROM  sbms.sbms_user.com_grade
        WHERE 1 = 1
            <if test="grade != null and grade !=''">
                and grade like CONCAT('%', #{grade}, '%')
            </if>
            <if test="gradename != null and gradename !=''">
                and gradename like CONCAT('%', #{gradename}, '%')
            </if>
            <if test="startDt != null and startDt !=''">
                and indt <![CDATA[>=]]> #{startDt}
            </if>
            <if test="endDt != null and endDt !=''">
                and indt <![CDATA[<=]]> #{endDt}
            </if>
        ORDER BY indt DESC
    </select>

    <!-- 조직관리 > 직위/직급관리 > 직급 삭제 -->
    <delete id="deleteGrade" parameterType="com.anylogic.ssystem.bms.com.model.DeleteGradeReqVO">
        DELETE FROM sbms.sbms_user.com_grade
        WHERE 1 = 1
            and grade = #{grade}
    </delete>

    <!-- 조직관리 > 직위/직급관리 > 직급 상세 조회 -->
    <select id="getGradeDetail" parameterType="com.anylogic.ssystem.bms.com.model.GetGradeDetailReqVO" resultMap="getGradeDetailMap">
        SELECT
            grade as "grade"
            , gradename as "gradename"
            , jobtype as "jobtype"
            , jobgubun as "jobgubun"
            , inid as "inid"
            , indt as "indt"
            , upid as "upid"
            , updt as "updt"
        FROM  sbms.sbms_user.com_grade
        WHERE 1 = 1
            and grade = #{grade}
    </select>

    <!-- 조직관리 > 직위/직급관리 > 직급 등록 -->
    <insert id="insertGrade" parameterType="com.anylogic.ssystem.bms.com.model.InsertGradeReqVO">
        INSERT INTO
        sbms.sbms_user.com_grade(
        <trim suffixOverrides=",">
            <if test="grade != null and grade !=''">
                grade,
            </if>
            <if test="gradename != null and gradename !=''">
                gradename,
            </if>
            <if test="jobtype != null and jobtype !=''">
                jobtype,
            </if>
            <if test="jobgubun != null and jobgubun !=''">
                jobgubun,
            </if>
            <if test="inid != null and inid !=''">
                inid,
            </if>
            <if test="indt != null and indt !=''">
                indt,
            </if>
            <if test="upid != null and upid !=''">
                upid,
            </if>
            <if test="updt != null and updt !=''">
                updt,
            </if>
        </trim>
        )
        VALUES(
        <trim suffixOverrides=",">
            <if test="grade != null and grade !=''">
                #{grade},
            </if>
            <if test="gradename != null and gradename !=''">
                #{gradename},
            </if>
            <if test="jobtype != null and jobtype !=''">
                #{jobtype},
            </if>
            <if test="jobgubun != null and jobgubun !=''">
                #{jobgubun},
            </if>
            <if test="inid != null and inid !=''">
                #{inid},
            </if>
            <if test="indt != null and indt !=''">
                #{indt},
            </if>
            <if test="upid != null and upid !=''">
                #{upid},
            </if>
            <if test="updt != null and updt !=''">
                #{updt},
            </if>
        </trim>
        )
    </insert>

    <!-- 조직관리 > 직위/직급관리 > 직급 수정 -->
    <update id="updateGrade" parameterType="com.anylogic.ssystem.bms.com.model.UpdateGradeReqVO">
        UPDATE sbms.sbms_user.com_grade
        <trim prefix="SET" suffixOverrides=",">
            <if test="grade != null and grade !=''">
                grade = #{grade},
            </if>
            <if test="gradename != null and gradename !=''">
                gradename = #{gradename},
            </if>
            <if test="jobtype != null">
                jobtype = #{jobtype},
            </if>
            <if test="jobgubun != null">
                jobgubun = #{jobgubun},
            </if>
            <if test="inid != null and inid !=''">
                inid = #{inid},
            </if>
            <if test="indt != null and indt !=''">
                indt = #{indt},
            </if>
            <if test="upid != null and upid !=''">
                upid = #{upid},
            </if>
            <if test="updt != null and updt !=''">
                updt = #{updt},
            </if>
        </trim>
        WHERE 1 = 1
            and grade = #{grade}
    </update>

</mapper>
